<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:security="http://www.springframework.org/schema/security"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemalocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        			 http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
					http://www.springframework.org/schema/security  http://www.springframework.org/schema/security/spring-security.xsd
       	 			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       	 			http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
	default-autowire="byName" default-lazy-init="false">
	
	<!-- 加载ftpclient配置文件 --> 
	<util:properties id="ftpClientProps" location="classpath:ftpclient.properties"/>
	
	<!-- 初始化ftp连接参数对象   -->
	<bean name="ftpClientConfig" class="com.woshidaniu.niukit.ftpclient.FTPClientConfig"> 
		<constructor-arg>  
	    	<ref bean="ftpClientProps"></value>
        </constructor-arg> 
	</bean>
	
	<!-- 初始化ftp客户端连接构建器   -->
  	<bean name="ftpClientBuilder" class="com.woshidaniu.niukit.ftpclient.FTPClientBuilder"> 
        <constructor-arg>  
	    	<ref bean="ftpClientConfig"></value>
        </constructor-arg> 
	</bean>         
	
	<!-- 初始化ftp连接池参数管理器   -->
	<bean name="ftpClientPoolConfig" class="com.woshidaniu.niukit.ftpclient.pool.FTPClientPoolConfig"> 
		<constructor-arg>  
	    	<ref bean="ftpClientProps"></value>
        </constructor-arg> 
	</bean>
	
	<!-- 初始化ftp连接管理器   -->
	<bean name="ftpClientManager" class="com.woshidaniu.niukit.ftpclient.pool.FTPPooledClientManager">
	    <constructor-arg>  
	    	<ref bean="ftpClientBuilder"></value>
        </constructor-arg> 
        <constructor-arg>  
	    	<ref bean="ftpClientPoolConfig"></value>
        </constructor-arg> 
	</bean>
	
	<!-- 初始化ftp客户端   -->
	<bean name="ftpClient" class="com.woshidaniu.niukit.ftpclient.client.FTPPooledResourceClient">
	    <!-- 指定ftp连接管理器   -->
		<property name="clientManager" ref="ftpClientManager"/>
	</bean>
	
</beans>