<?xml version="1.0" encoding="UTF-8"?>  
<Configuration status="TRACE">
  
  <Appenders>  
    <Console name="Console" target="SYSTEM_OUT">  
      <PatternLayout pattern="%p %t %d{yyyy-MM-dd HH:mm:ss}  %C %m%n"/>  
    </Console>
    
    <RollingRandomAccessFile name="RollingRandomAccessFile" fileName="logs-niutal/log4j.log"
                 filePattern="logs-niutal/$${date:yyyy-MM}/log4j-%d{MM-dd-yyyy}-%i.log.gz">
      <PatternLayout>
        <Pattern>%p %t %d{yyyy-MM-dd HH:mm:ss} %C %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="25 MB"/>
      </Policies>
    </RollingRandomAccessFile>
  </Appenders>
  
  <Loggers>  
    <Root level="INFO">  
      <AppenderRef ref="Console"/>
<!--       <AppenderRef ref="RollingRandomAccessFile"/> -->
    </Root>
    <Logger level="INFO" name="java.sql">
    	<AppenderRef ref="Console"/>
    </Logger>
    <Logger level="debug" name="org.activiti.engine">
    	<AppenderRef ref="Console"/>
    </Logger>
   
  </Loggers>
</Configuration>